---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import ProjectList from "../components/ProjectList.astro";
---

<Layout title="Marcin Jałocha | Software Engineer" scrollSmooth={false}>
	<div class="flex flex-col gap-16">
		<Hero />
		<Skills />
		<ProjectList />
		{/* <BlogSection limit={3} /> */}
	</div>
</Layout>
